:host {

    display: block;
  }
  
  ul {
    list-style-type: none;
    margin: 0px;
    text-align: center;
    padding: 8px;
    font-size: larger;
    background-color: gray;
    color: white;
  
    li {
      display: inline-block;
  
      a {
        padding: 16px;
        display: inline-block;
  
        &:hover,
        &.active {
          background-color: #444;
          color: red;
        }
  
      }
    }
  }
  
  .active {
    color: green;
  }
  